@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  background: #fffce3;
  color: #2d3846;
  font-family: "IBM Plex Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: auto;
  max-width: 55em;
  padding: 1em;
}

footer {
    text-align: auto;
    padding: 10px;
    position: auto;
    bottom: 0;
    width: 100%;
}

.mono {
  font-family: "IBM Plex Mono", monospace;
  font-optical-sizing: auto;
  font-size: 1em;
  font-weight: 400;
  color: #20589c;
}

hr {
  border-top: none;
  border-bottom: 1px dotted #2d3846;

}

u {    
    border-bottom: 1px dotted #2d3846;
    text-decoration: none;
}

/* unvisited link */
a:link {
  color: #DC267F;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #DC267F;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #FE6100;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #FFB000;
  text-decoration: none;
}

/* Lists and details  */

ul {
  list-style: circle;
}

li {
  margin: .25em 0;
}

summary {
  list-style: none;
  display: inline-flex;
}

summary:before {
  content: '\27DC';
  margin: 0 .5em;
}

details[open] > summary::before {
  transform: rotate(90deg);
}
